<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 
   
    <%= form.label :name %>
    <%= form.text_field :name ,class:"form-control mt-2 mb-2" %> 
  
    <%= form.label :prepration_time %>
    <%= form.text_field :prepration_time,class:"form-control mt-2 mb-2" %> 
   
    <%= form.label :cooking_time %>
    <%= form.text_field :cooking_time,class:"form-control mt-2 mb-2" %> 
   
    <%= form.label :description %>
    <%= form.text_area :description,class:"form-control mt-2 mb-2" %> 
  
    <%= form.label :public %>
    <%= form.check_box :public %> 
   
    <br /><%= form.submit "Add Recipe", class:"btn btn-outline-warning mt-3" %>
    
 
<% end %>
