<div id="<%= dom_id recipe %>">

  <h3 class="text-center">
    <%= recipe.name %>
  </h3>
  <div class="row row-cols-2 border border-primary">

    <p class="col">
      <strong>Prepration time:</strong>
      <%= recipe.prepration_time %>
    </p>

    <div class="col flex">
      <p>Public</p>
      <%= button_to toggle_recipe_privacy_path(@recipe), method: :put, class: "switch" do %>
        <input type="checkbox" id="recipe_privacy" name="recipe[public]" <%= @recipe.public? ? "checked" : "" %> hidden>
        <label for="recipe_privacy"></label>
        <%= @recipe.public? ? "public" : "private" %>
      <% end %>
    </div>

    <p class="col">
      <strong>Cooking time:</strong>
      <%= recipe.cooking_time %>
    </p>
  </div>
  <p>
    <strong>Instructions:</strong>
    <%= recipe.description %>
  </p>  

<div class="d-flex p-2 justify-content-between">
  <%= button_to "Generate shopping list", shopping_lists_path(@recipe),class:"btn btn-primary" %>
  <%= button_to "Add ingredient", new_recipe_recipe_food_path(@recipe),class:"btn btn-primary" %>
</div>

<hr class="border border-primary border-3 opacity-75">

<table class="table table-striped table-hover table-bordered ">
  <thead>
    <tr>
      <th class="text-info">Food</th>
      <th class="text-info">Quantity</th>
      <th class="text-info">Price</th>
      <th scope="col" colspan="2">Actions</th> 
    </tr>
  </thead>
   <tbody class= "table-group-divider">
    <%# Add recipe_food table markup here %> 
      <% @recipe_foods.each do |food| %>
        <tr>
            <td><%= food.food.name %></td>
            <td><%= food.quantity %><%= food.food.measurement_unit %></td>
            <td>$<%= food.food.price*food.quantity %></td>
        </tr>
      <% end %> 
  </tbody>
</table>

</div>
