<div class="col-10 offset-1 mt-5">
<% if Food.any? %>
<h3 class="text-warning text-center"> Foods By <%= @user.name %></h3> 
   <table class="table table-striped table-hover table-bordered mt-5">
      <tr>
        <th class="text-info">Food</th>
        <th class="text-info">Measurement unit</th>
        <th class="text-info">Unit price</th>
        <th class="text-info">Quantity</th>
        <th class="text-info">Actions</th>
      </tr>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= food.price %></td>
          <td><%= food.quantity %></td>
          <td><%= link_to "Delete", food_path(food.id), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?" },class:"btn btn-outline-danger"%></td>
        </tr>
      <% end %>
   </table>  
<% else %>
<h3 class="text-warning text-center">Welcome to the Food Page No Food Exists Please Added Once!</h3>
<%end %>
 <%= link_to 'Add New Food', new_food_path, class:"btn btn-outline-success" %>
</div>