<%= link_to "Home", "/" %>
<%= form_with model: @recipe_food, url:  recipe_recipe_foods_path do |f| %>
    <%= f.label :quantity %> 
    <%= f.number_field :quantity, autofocus: true, class:"form-control mt-2 mb-2" %> 
     
    <%= f.label :foods_id %>
    <%= f.select :foods_id, @foods.to_a.map { |food| [food.name, food.id] }, class:"form-control mt-2 mb-2" %> 
    <%= f.text_field :recipe_id  %>
      
    <br /> 
    <%= f.submit "Add Ingredient", class:"btn btn-outline-warning mt-2" %>
<% end %>
<table class="table table-striped table-hover mt-5">
    <tr>
      <th class="text-info">ID</th>
      <th class="text-info">Food</th>
      <th class="text-info">Measurement unit</th>
      <th class="text-info">Unit price</th>
      <th class="text-info">Quantity</th>
    </tr>
    <% @foods.to_a.each do |food| %>
      <tr>
        <td><%= food.id %></td>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= food.quantity %></td>
      </tr>
    <% end %>
</table>